# develop resources
/storage
!/storage/.gitkeep
*.sh

# config files
config.local.yaml
config.default.yaml
diesel.toml
.env

# build
/target

# for ide
# Xtask build artifacts
/xtask/target/

.idea
.vscode
.aider*
