.btn-primary {
    background-color: #e0e0e0;
    color: #333;
}

.btn-primary:hover {
    background-color: #d0d0d0;
}

.btn-danger {
    background-color: #ffcccc;
    color: #990000;
}

.btn-danger:hover {
    background-color: #ff9999;
}

.btn {
    padding: 8px 16px;
    border: 1px solid #999;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    color: #333;
    background-color: #f5f5f5;
    transition: background-color 0.3s, color 0.3s;
}

.table-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #f8f8f8;
    font-weight: bold;
    border-bottom: 1px solid #ccc;
}

.table-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.table-col {
    flex: 1;
    padding: 5px;
}

.model-mask {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(6, 8, 10, 0.57);  
}

.model {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    border-radius: 10px;
    overflow-y: auto;
}

.form-item {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.form-label {
    flex: 0 0 120px;
    margin-right: 16px;
    font-weight: bold;
}

.form-input,
.form-checkbox,
.form-select {
    flex: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-select {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%3E%3Cpath%20d%3D%22M7.406%207.828l4.594%204.594%204.594-4.594%201.406%201.406-6%206-6-6z%22%2F%3E%3C%2Fsvg%3E') no-repeat right 10px center;
    background-size: 8px;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.pagination-button {
    padding: 8px 12px;
    margin: 0 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #f9f9f9;
    color: #333;
    cursor: pointer;
}

.pagination-button:hover {
    background-color: #eee;
}

.pagination-button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.pagination-button.active {
    background-color: #007bff;
    color: white;
    border-color: #007bff;
}
