<div x-data="modelTransformData" x-init="init">
    <div class="content-header">
        <button class="btn btn-primary" @click="startEditing()">添加模型转换</button>
    </div>
    <div class="content-body">
        <table class="data-table">
            <thead>
                <tr>
                    <th>模型名称</th>
                <th>映射模型名称</th>
                <th>是否启用</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            <template x-for="transform in model_transforms" :key="transform.id">
                <tr>
                    <td x-text="transform.model_name"></td>
                    <td x-text="transform.map_model_name"></td>
                    <td x-text="transform.is_enabled"></td>
                    <td>
                        <button class="btn btn-primary" @click="startEditing(transform.id)">修改</button>
                        <button class="btn btn-danger" @click="deleteTransform(transform)">删除</button>
                    </td>
                </tr>
            </template>
        </tbody>
    </table>

    <template x-if="showEditModel">
        <div class="model-mask" @click.self="stopEditing">
            <div class="model" :style="{ width: '600px', height: '400px' }">
                <div class="model-title" x-text="editingTransform.id ? '编辑模型转换' : '添加模型转换'"></div>
                <div class="form-item">
                    <span class="form-label">模型名称</span>
                    <input x-model="editingTransform.model_name" class="form-input" />
                </div>
                <div class="form-item">
                    <span class="form-label">映射模型名称</span>
                    <input x-model="editingTransform.map_model_name" class="form-input" />
                </div>
                 <div class="form-item">
                    <span class="form-label">是否启用</span>
                    <input type="checkbox" x-model="editingTransform.is_enabled" class="form-checkbox" />
                </div>
                <div class="form-buttons">
                    <button class="btn btn-primary" @click="commitTransform">保存</button>
                    <button class="btn btn-default" @click="stopEditing">取消</button>
                </div>
            </div>
        </div>
    </template>
</div>
